/20161231-recibos.sql
/suscrdb_bancos.sql
/suscrdb_cabeceraemisiones.sql
/suscrdb_devoluciones.sql
/suscrdb_divisa.sql
/suscrdb_domiciliacion.sql
/suscrdb_emision.sql
/suscrdb_mascara_emisiones.sql
/suscrdb_meses.sql
/suscrdb_p_s_d.sql
/suscrdb_pais.sql
/suscrdb_parroco.sql
/suscrdb_parroquia_aux.sql
/suscrdb_parroquia_has_parroco.sql
/suscrdb_parroquia.sql
/suscrdb_periodo.sql
/suscrdb_persona.sql
/suscrdb_secuenciaadeudo.sql
/suscrdb_sucursal.sql
/suscrdb_suscripcion.sql
