# Ignores
\.classpath
\.project
\.settings
\.metadata/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
recibosWebWorkspaceOnly.7z
mvnTest.bat
public/
recibosWeb/build/
sencha-error*.log

/xmlDevelopment/
/xmlProduction/
/pdf/
/devoluciones/
/recibos62/
/salida.pdf
.externalToolBuildersmodel/2016/20161231-recibos.sql
model/2016/suscrdb_bancos.sql
model/2016/suscrdb_cabeceraemisiones.sql
model/2016/suscrdb_devoluciones.sql
model/2016/suscrdb_divisa.sql
model/2016/suscrdb_domiciliacion.sql
model/2016/suscrdb_emision.sql
model/2016/suscrdb_mascara_emisiones.sql
model/2016/suscrdb_meses.sql
model/2016/suscrdb_p_s_d.sql
model/2016/suscrdb_pais.sql
model/2016/suscrdb_parroco.sql
model/2016/suscrdb_parroquia_aux.sql
model/2016/suscrdb_parroquia_has_parroco.sql
model/2016/suscrdb_parroquia.sql
model/2016/suscrdb_periodo.sql
model/2016/suscrdb_persona.sql
model/2016/suscrdb_secuenciaadeudo.sql
model/2016/suscrdb_sucursal.sql
model/2016/suscrdb_suscripcion.sql
model/2018/20180110-recibos.sql
model/2018/20181226-recibos.sql
model/2018/copy_migrated_tables.cmd
model/2018/migration_script.sql
excel/2018-suscriptores-cipher.xlsx
excel/cosas de cvs.txt
excel/devoluciones-detalle-template.xlsx
excel/Informe-anual-template.xlsx
model/2016/20161231-recibos.sql
