$menulist-background-color: #424242;
$menulist-color: #787878;
$menulist-border-radius: 42px;

$button-default-border-color-pressed: transparent;
$button-default-border-color-focus: transparent;
$button-default-border-color-focus-over: transparent;