/** @class Ext.button.Button */
//Eliminar sombras
.#{$prefix}btn{
  //eliminar sombras
  &.#{$prefix}btn-focus {
    box-shadow: none;
    &.#{$prefix}btn-over {
      box-shadow: none;
    }
  }
}



/* ATM UI's

  toolbar: default
  alarm

*/

/* TODO: PREPARADO PARA USAR DOBLE GLYPH CON VARIOS COLORES
.#{$prefix}btn-glyph:after {
  content: '?';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  opacity: 0.6;
  zoom:0.7;
}
*/

/* UI highlight ····················································································································································································  */

@include extjs-button-medium-ui (
$ui: 'menulist',
$border-color: dynamic(transparent),
$border-color-over: dynamic(transparent),
$border-color-focus: dynamic(transparent),
$border-color-pressed: dynamic(transparent),
$border-color-disabled: dynamic(transparent),
$background-color: $atm-background-color-menulist,
$background-color-over: $atm-background-color-menulist,
$background-color-focus: $atm-background-color-menulist,
$background-color-pressed: $atm-background-color-menulist,
$background-color-disabled: $atm-background-color-menulist,
$background-gradient: none,
$background-gradient-over: none,
$background-gradient-focus: none,
$background-gradient-pressed: none,
$background-gradient-disabled: none,
$color: $atm-button-color,
$color-over: $atm-button-color,
$color-focus: $atm-button-color,
$color-pressed: $atm-button-color,
$color-disabled: $atm-button-color-menulist
);

/* UI warning ····················································································································································································  */
/* EJEMPLO DE USO DE ESTE TIPO DE BOTÓN: GTD-LIST BUTTONS    */

@include extjs-button-medium-ui(
$ui: 'alarm',
$background-color: transparent,
$background-color-over: transparent,
$background-color-focus: transparent,
$background-color-pressed: transparent,
$background-color-disabled: transparent,
$background-gradient: none,
$background-gradient-over: none,
$background-gradient-focus: none,
$background-gradient-pressed: none,
$background-gradient-disabled: none,
$border-radius: 0px,
$border-width: 0px,
$border-color: transparent,
$border-color-over: transparent,
$border-color-focus: transparent,
$border-color-pressed: transparent,
$border-color-disabled: transparent
);


.#{$prefix}btn-alarm-medium {
    //eliminar sombras
    &.#{$prefix}btn-focus {
      box-shadow: none;
      &.#{$prefix}btn-over {
        box-shadow: none;
      }
    }
  .#{$prefix}btn-icon-el-alarm-medium{
    border-radius: $menulist-border-radius;
    border: 2px solid $alarm-button-border-color;
    width: 31px;
    height: 31px;
    font-size: 20px;
  }
}

.degraded .x-btn-icon-el-alarm-medium {
  background: $button-degradad-background;
}
.warning .x-btn-icon-el-alarm-medium {
  background: $button-warning-background;
}
.error .x-btn-icon-el-alarm-medium {
  background: $button-error-background;
  background: @include filter-gradient(#F54A33, #ed1333, horizontal);
  background: @include background-image(linear-gradient(left, #F54A33 0%, #F13133 24%, #EF1E32 46%,#EF2032 68%, #EC0432 100%));
}
.reset .x-btn-icon-el-alarm-medium {
  background: transparent;
}

////// EDITRAN //////////

/** @class Ext.button.Button */
//

/* Editran UI's

  toolbar: default
  hightlight
  hightlightpunch
  darkhighlight
  plain

*/
//[FMM] Changes: Aunque no vale sólo con esto. Aquí: extjs-button-toolbar-medium-ui es donde le da el color al glyph.
// para los botones de la toolbar ui:default.
//$glyph-color: $editran-darkgrey;
$glyph-color: $editran-color-rojo;

/* UI highlight ····················································································································································································  */
@include extjs-button-medium-ui (
$ui: 'default',

$border-color: $editran-mediumgrey,
$border-color-over: $editran-grey,
$border-color-focus: $editran-grey,
$border-color-pressed: $editran-darkgrey,
$border-color-disabled: $editran-lightgrey,

$background-color: rgba(255,255,255,0), // $editran-mediumgrey,
$background-color-over: $editran-lightgrey,
$background-color-focus: $editran-lightgrey,
$background-color-pressed: $editran-darkgrey,
$background-color-disabled: rgba(255,255,255,0),

$background-gradient: none,
$background-gradient-over: none,
$background-gradient-focus: none,
$background-gradient-pressed: none,
$background-gradient-disabled: none,

$color: $editran-darkgrey,
$color-over: $editran-darkgrey,
$color-focus: $editran-darkgrey,
$color-pressed: #fff,
$color-disabled: $editran-grey,

$border-radius: 4px

);
.#{$prefix}btn-default-small              {transition: background-color 0.2s, border-color 0.2s, color 0.2s; padding: 6px;} /* ESTE PADDING HA SIDO NECESARIO PONERLO PORQUE SI NO EL MIXIN FRAME.SCSS HACE UN CÁLCULO EXTRAÑO PARA PONER EL PADDING EN FUNCIÓN DEL BORDER-RADIUS Y SI ESTE ES MUY ÁLTO (PARA HACER BOTONES EN FORMA DE CÁPSULA) NO HAY MANERA DE CONSEGUIRLO*/
.#{$prefix}btn-default-small .x-btn-inner {font-weight: normal; font-family: inherit; text-transform: uppercase;}


.#{$prefix}btn-glyph {
  color: $glyph-color;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.17);
  position: relative;
  opacity: 0.8;
}

/* TODO: PREPARADO PARA USAR DOBLE GLYPH CON VARIOS COLORES
.#{$prefix}btn-glyph:after {
  content: '?';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  opacity: 0.6;
  zoom:0.7;
}
*/


/* UI highlight ····················································································································································································  */

@include extjs-button-medium-ui (
$ui: 'highlight',

$border-color: $editran-ultradarkcolor,
$border-color-over: $editran-ultradarkcolor,
$border-color-focus: $editran-color-grisoscuro,
$border-color-pressed: $editran-ultradarkcolor,
$border-color-disabled: $editran-lightgrey,

$background-color: $editran-main-color,
$background-color-over: $editran-color-grisverdosooscuro,
$background-color-focus: $editran-color-grisverdosooscuro,
$background-color-pressed: $editran-color-grisverdosooscuro,
$background-color-disabled: rgba(255,255,255,0),

$background-gradient: none,
$background-gradient-over: none,
$background-gradient-focus: none,
$background-gradient-pressed: none,
$background-gradient-disabled: none,

$color: #F0F0F0,
$color-over: #FFF,
$color-focus: #F0F0F0,
$color-pressed: #fff,
$color-disabled: $editran-grey,


$border-radius: 4px

);
.#{$prefix}btn-highlight-medium                       {transition: background-color 0.2s, border-color 0.2s, color 0.2s; padding: 2px 6px;} /* ESTE PADDING HA SIDO NECESARIO PONERLO PORQUE SI NO EL MIXIN FRAME.SCSS HACE UN CÁLCULO EXTRAÑO PARA PONER EL PADDING EN FUNCIÓN DEL BORDER-RADIUS Y SI ESTE ES MUY ÁLTO (PARA HACER BOTONES EN FORMA DE CÁPSULA) NO HAY MANERA DE CONSEGUIRLO*/
//[FMM] Changes: para el tipo de letra.
//.#{$prefix}btn-highlight-medium .x-btn-inner          {text-transform: uppercase; font-size:12px;}
.#{$prefix}btn-highlight-medium .x-btn-inner          {font-family: inherit; text-transform: uppercase; font-size:12px;}

//[FMM] Changes
//.#{$prefix}btn-highlight-medium .#{$prefix}btn-glyph  {color: #FFF; text-shadow: 1px 1px 1px rgba(0,0,0,0.17); position: relative; opacity: 1; font-size:20px;}
.#{$prefix}btn-highlight-medium .#{$prefix}btn-glyph  {color: $glyph-color; text-shadow: 1px 1px 1px rgba(0,0,0,0.17); position: relative; opacity: 1; font-size:20px;}





/* UI plain ····················································································································································································  */
/* EJEMPLO DE USO DE ESTE TIPO DE BOTÓN: GTD-LIST BUTTONS    */

@include extjs-button-medium-ui(

$ui: 'plain',

$background-color: transparent,
$background-color-over: $button-toolbar-background-color-over,
$background-color-focus: $button-toolbar-background-color-focus,
$background-color-pressed: $button-toolbar-background-color-pressed,
$background-color-disabled: $button-toolbar-background-color-disabled,

$background-gradient: none,
$background-gradient-over: none,
$background-gradient-focus: none,
$background-gradient-pressed: none,
$background-gradient-disabled: none,

$border-radius: 0,
$border-width: 0,
$border-color: transparent,
$border-color-over: transparent,
$border-color-focus: transparent,
$border-color-pressed: transparent,
$border-color-disabled: transparent,

$color: $editran-color-grisoscuro,
$color-over: $editran-color-grisoscuro,
$color-focus: $editran-color-grisoscuro,
$color-pressed: #000,
$color-disabled: #AAA,

$font-weight: 400,
$font-size: 12px,

//[FMM] Tests
$glyph-color:$editran-color-rojo,
//$glyph-color:green,
$glyph-opacity:1

);

.#{$prefix}btn-plain-small .#{$prefix}btn-inner   {text-transform: uppercase;}
.#{$prefix}btn-plain-small .#{$prefix}btn-button  {vertical-align: top;}

.#{$prefix}btn-plain-medium .#{$prefix}btn-inner   {text-transform: uppercase;}
.#{$prefix}btn-plain-medium .#{$prefix}btn-button  {vertical-align: top;}



/* UI default TOOLBAR BUTTONS ····················································································································································································  */
@include extjs-button-toolbar-medium-ui(
$ui: 'default',

$background-color: rgba(0,0,0,0),
$background-color-over: $button-toolbar-background-color-over,
$background-color-focus: $button-toolbar-background-color-focus,
$background-color-pressed: $button-toolbar-background-color-pressed,
$background-color-disabled: rgba(0,0,0,0),

$background-gradient: none,
$background-gradient-over: none,
$background-gradient-focus: none,
$background-gradient-pressed: none,
$background-gradient-disabled: none,

$border-radius: 0,
$border-width: 0,
$border-color: transparent,
$border-color-over: $editran-ultradarkcolor,
$border-color-focus: $editran-ultradarkcolor,
$border-color-pressed: $editran-ultradarkcolor,
$border-color-disabled: transparent

);

.#{$prefix}btn-default-toolbar-medium                       {transition: background-color 0.2s, border-color 0.2s, color 0.2s; padding: 2px 6px;} /* ESTE PADDING HA SIDO NECESARIO PONERLO PORQUE SI NO EL MIXIN FRAME.SCSS HACE UN CÁLCULO EXTRAÑO PARA PONER EL PADDING EN FUNCIÓN DEL BORDER-RADIUS Y SI ESTE ES MUY ÁLTO (PARA HACER BOTONES EN FORMA DE CÁPSULA) NO HAY MANERA DE CONSEGUIRLO*/
.#{$prefix}btn-default-toolbar-medium .x-btn-inner          {font-family: inherit; text-transform: uppercase; font-size:12px;}
//[FMM] Changes
//.#{$prefix}btn-default-toolbar-medium .#{$prefix}btn-glyph  {color: $editran-color-rojo; text-shadow: 1px 1px 1px rgba(0,0,0,0.17); position: relative; opacity: 0.96; font-size:20px;}
.#{$prefix}btn-default-toolbar-medium .#{$prefix}btn-glyph  {color: $glyph-color; text-shadow: 1px 1px 1px rgba(0,0,0,0.17); position: relative; opacity: 0.96; font-size:20px;}








