$panel-header-background-color: dynamic(#fff);
$panel-header-color: dynamic(#909090);
$panel-header-font-weight: dynamic(300px);
$panel-header-font-size: dynamic(20px !important);
$panel-header-border-style: dynamic(dotted);
$panel-header-border-width: dynamic(2px !important);
$ui-header-background-color: dynamic(#3F4444);
$panel-body-background-color: dynamic(#fff);
$panel-body-border-color: dynamic(#626262);
$panel-border-color: dynamic(#626262);
$panel-frame-border-color: dynamic(#626262);
$panel-header-border-color: dynamic(#626262);
