.#{$prefix}grid-item-focused {
  // This is to remove the default outline in FF and IE
  outline: 0;

  .#{$prefix}grid-cell-inner {
    // Inner grid cell element has position: relative (a rule below),
    // so setting z-index: 1 will elevate it just above default position
    z-index: 1;
  }

  // Pseudo-el is positioned *below* the inner grid cell content
  // but its border will shine through
  .#{$prefix}grid-cell-inner:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: $grid-row-cell-focus-border-inset;
    right: $grid-row-cell-focus-border-inset;
    bottom: $grid-row-cell-focus-border-inset;
    left: $grid-row-cell-focus-border-inset;
    pointer-events: none;

    border: none;
  }

  @if not is-null($grid-row-cell-focus-color) {
    color: $grid-row-cell-focus-color;
  }

  @if not is-null($grid-row-cell-focus-background-color) {
    background-color: $grid-row-cell-focus-background-color;
  }
}