$grid-header-border-style:dynamic(dotted);
$grid-header-border-color:dynamic(#626262);
$grid-header-background-color: dynamic(#fff);
$grid-header-over-background-color: dynamic(transparent);
$grid-header-open-background-color: dynamic(transparent);