$grid-column-header-border-style: dynamic(none);
$grid-column-header-color: dynamic(#303030);
$grid-column-header-focus-background-color: dynamic(transparent);
$grid-column-header-focus-border-color: dynamic(transparent);
