$border-color: dynamic(transparent);
$border-color-over: dynamic(transparent);
$border-color-focus-over: dynamic(transparent);
$border-color-focus: dynamic(transparent);
$border-color-focus-pressed: dynamic(transparent);
$glyph-color: dynamic(#fff);

$button-degradad-background: dynamic(#DEC71E);
$button-warning-background: dynamic(#E88800);
$button-error-background: dynamic(#F54A33);

////////// EDITRAN //////////

