.idf-carousel {
    text-align: center;
    .image {
        position:relative;
        height: 300px;
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .image2 {
        position: absolute;
        left: 0px;
        top: 0px;
        display:none;
    }
    
    .content {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 10px;
    }
    .selectors {
        position: relative;
        top: -40px;
        text-align: center;
        .selector {
            margin: 0 10px;
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background: #545454;

            &.x-item-selected {
                background: #fff !important;
            }
        }
    }
}